node_modules
dist
# Keep environment variables out of version control
.env

/src/generated/prisma

# Logs
logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea
*.swp
*.swo

# Testing
coverage

# Build
build
